* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header,
footer {
  height: 100px;
  background-color: black;
  color: white;
}

main {
  background-image: image-set('../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 100px - 100px);
  display: grid;
  justify-items: center;
  align-content: space-around;
  grid-template-columns: 10% auto auto 10%;
  grid-template-areas: '. planetlist planetdata .';
}

main menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

