@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@media (min-width: 400px) and (max-width: 1200px) {
  main {
    height: max-content;
    align-content: baseline;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'planetlist'
      'planetdata';
  }
}

@media (max-height: 800px) and (min-width: 1201px) {
  main {
    height: 100vh;
  }
}
