.planet_list {
  grid-area: planetlist;
  height: max-content;
  width: max-content;
  padding: 1rem 0 1rem 0px;
  background-color: rgb(171, 172, 177);
  border-radius: 30px;
  outline: thick solid black;
  box-shadow: 0px 0px 25px 75px rgba(0, 0, 0, 0.6);
}

.planet_list .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem 2rem;
}

.planet_list menu ul li {
  padding: 0.5rem 0 0.5rem 0;
  list-style: none;
  text-align: center;
  text-shadow: 2px 2px 5px darkslateblue;
  font-size: 1.3rem;
  font-weight: 700;
}

.planet_list menu ul li:hover {
  color: blueviolet;
  text-shadow: 0 0 0 darkslateblue;
  font-size: 1.4rem;
  background-color: blanchedalmond;
  cursor: pointer;
}
